VITE_API_BASE_URL=http://localhost:3001
VITE_SUPABASE_URL=https://zfpoxtxbbenonkvvpwhx.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_mQr7poSHEZwOJV-LIQobCw_Gg2EImEg
VITE_SUPABASE_STORAGE_BUCKET=flowforge-submission-files
